
<div class="hero-section">
    <div style="margin-top: 5%;margin-right:45px;" class="card-grid">
        <a class="card" style="margin-left:50px;" (click)="goToFemme('Femme')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/brand/img2.png)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;" (click)="goToHomme('Homme')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/brand/img3.png)">
            </div>
            <div class="card__content">
            </div>
    <div>
</div>
