<div class="site-section" style="margin-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <form [formGroup]="signupForm">
          <div class="form-group">
            <input type="text" formControlName="firstName" class="form-control" name="firstName" placeholder="firstName">
            <div class="text-danger" *ngIf="signupForm.controls['firstName'].invalid && (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
              <div *ngIf="signupForm.controls['firstName'].errors?.['required']">firstName is required</div>
              <div *ngIf="signupForm.controls['firstName'].errors?.['minlength']">Min length 3</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="lastName" class="form-control" name="lastName" placeholder="lastName">
            <div class="text-danger" *ngIf="signupForm.controls['lastName'].invalid && (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty)">
              <div *ngIf="signupForm.controls['lastName'].errors?.['required']">lastName is required</div>
              <div *ngIf="signupForm.controls['lastName'].errors?.['minlength']">Min length 3</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="email" class="form-control" name="email" placeholder="Email">
            <div class="text-danger" *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
              <div *ngIf="signupForm.controls['email'].errors?.['required']">email is required</div>
              <div *ngIf="signupForm.controls['email'].errors?.['email']">Invalid email format</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" formControlName="pwd" class="form-control" name="pwd" placeholder="password">
          </div>
          <div style="margin-left: 40%;" class="form-group">
            <input type="button" (click)="signup()" class="btn btn-warning py-3 px-5" value="Signup">
          </div>
        </form>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
