		<!--welcome-hero start -->
		<section  class="welcome-hero">
 

			<div class="container">
				<div class="welcome-hero-txt">
					<h2>get your desired car in resonable price</h2>
					<p>
						Bienvenue sur notre site de location de voitures "Eyas'Location" ! Explorez notre gamme variée, trouvez la voiture parfaite pour votre voyage, et réservez en toute simplicité.
					</p>
					<button class="welcome-btn" routerLink='signup'>Signup</button>
					<button style="margin-left:20px;" class="welcome-btn" routerLink='login'>Login</button>
				</div>
			</div>
		</section><!--/.welcome-hero-->